form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

label {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    border-radius: 10px;
    border: none;
    margin-top: 0.5em;
    padding: 0.5em;
    font-family: inherit;
}

button {
    cursor: pointer;
    max-width: 100px;
}