.post-container {
    border: solid 1px white;
    padding: 1em;
    border-radius: 10px;
    margin-bottom: 1.5em;
}

h3 {
    margin: 0;
}

.post-container .post-content {
    font-size: 1.1rem;
}

.post-container .post-author {
    font-size: 0.9rem;
}

.reactions-container {
    display: flex;
    gap: 1em;
}